body {
    font-family: 'Oswald', sans-serif;
    font-family: "Segoe UI", Arial, sans-serif;
    height: 100%;
    background: linear-gradient(to bottom, #dec0a8, #efeeed);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.innercontainer {
    width: 400px;
    text-align: left;
    margin: 14px
}
img {
    width: 400px;
    margin-right: 2px;
}
h3 {
    font-weight: 100;
    font-size: 150%;
}

ul {
    margin-left: 10px;
    list-style:square;
    padding:20px;
    
}
li {
    font-size: 100%;
    
}

.header>h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 100;
    font-size:200%;
    text-align: center;
}

h1 {
    font-weight: 100;
}

a {
    color: black;
}

.aboutpage {
    font-size: 100%;
}